@charset "UTF-8";

@font-face {
    font-family: 'Poppins';
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url('/font/Poppins-Regular.woff2') format('woff2');
  }
  
  /* Fonte Poppins Bold */
@font-face {
    font-family: 'Poppins';
    font-weight: 700; /* Bold */
    font-style: normal;
    src: url('/font/Poppins-Bold.woff2') format('woff2');
  }

:root {
    --cor1: #3b4246;
    --cor2: #5d686e;
    --cor3: #dfe1e2;
    --cor4: #ff4c00;
    --cor5: #ffbf00;
}

html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: var(--cor2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    width: 100vw;
}

.transparent {
    opacity: 0;
}

.hidden {
    opacity: 0 !important;
    z-index: -1 !important;
}

.none {
    display: none;
}

flex-slider f-scroller {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: var(--cor2);
    transition: 0.25s;
}

a:hover {
    color: var(--cor4);
}

h1 {
    font-size: 2rem;
    line-height: 1.2;
}

h2 {
    font-size: 0.9rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    padding-top: 7px;
}

h4 {
    font-size: 1.5rem;
    z-index: 1;
}

p {
    font-size: 0.8rem;
}

.conteiner {
    width: 100%;
    max-width: 1050px;
    margin: auto;
}

header {
    background-color: white;
    position: fixed;
    width: 100vw;
    z-index: 2;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
}

header .conteiner {
    width: 100vw;
    height: max-content;
    padding: 1vw;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
    gap: 20px;
}

.header-logo {
    width: 150px;
}

header .svg-menu {
    display: none;
}

.banner {
    background-image: url("/images/Banner.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 500px;
    margin-top: 40px;
}

.banner .conteiner {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    padding-left: 17vw;
    gap: 10px;
}

.btn-banner {
    width: max-content;
    padding: 8px;
    border: 1px solid var(--cor4);
    border-radius: 10px;
    text-align: center;
    font-size: 0.8rem;
    color: var(--cor4);
    font-weight: bold;
    transition: 0.25s;
}

.btn-banner:hover {
    border-color: var(--cor5);
    color: var(--cor5);
}

.btn-banner:active {
    transform: scale(0.8);
}

.yellow-dash-headline {
    position: relative;
    z-index: 1;
}

.yellow-dash-headline::before {
    content: " ";
    width: 102%;
    height: 6px;
    background-color: var(--cor5);
    position: absolute;
    bottom: 8px;
    left: -2px;
    z-index: -1;
    border-radius: 15px;
}

aside {
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: 1050px;
    height: max-content;
    margin-top: -5vw;
    padding: 25px 0 25px 0;
    text-align: center;
    border-radius: 15px;  
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

aside p {
    font-size: 1.2rem;
}

aside hr {
    background-color: var(--cor5);
    width: 60%;
    height: 10px;
    border: none;
    position: absolute;
    border-radius: 15px;
    bottom: -5px;
}

.bold {
    font-weight: bold;
}

.svg-icon {
    background-color: white;
}

/* footer */

footer {
    padding-top: 10vh;
    font-size: 1rem;
    color: white;
    background-color: var(--cor2);
}

footer .conteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .address {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer p {
    font-size: 0.8rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    gap: 20px;
}

footer a {
    color: white;
}

footer .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    padding-top: 20px;
}

footer .media-links {
    display: flex;
    gap: 30px;
    justify-content: center;
}

footer .media-link {
    width: 40px;    
}

.footer-logo {
    width: 100%;
    max-width: 300px;
}

footer img {
    width: 25px;
}

.footer-bottom {
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    margin-top: 10vh;
}

 