@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;800&display=swap');

:root {
    --cor1: #3b4246;
    --cor2: #5d686e;
    --cor3: #dfe1e2;
    --cor4: #ff4c00;
    --cor5: #ffbf00;
}

html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: var(--cor2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
}

.transparent {
    opacity: 0;
}

a {
    text-decoration: none;
    color: var(--cor2);
}

a:hover {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 0.8rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
    z-index: 1;
}

p {
    font-size: 0.8rem;
}

.conteiner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

header .conteiner {
    width: 100vw;
    max-width: 1000px;
    height: max-content;
    padding: 1vw 0 1vw 0;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    background-color: white;
}

.header-left {
    display: flex;
}

.header-rigth {
    display: flex;
    gap: 20px;
}

.header-logo {
    width: 150px;
}

.banner {
    background-image: url("/images/Banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 8vw;
    padding-bottom: 10vw;
}

.banner-content {
    display: flex;
    flex-direction: column;
    padding-left: 17vw;
    gap: 10px;
}

.btn-banner {
    width: 150px;
    padding: 8px;
    border: 1px solid var(--cor4);
    border-radius: 10px;
    text-align: center;
    font-size: 0.8rem;
    color: var(--cor4);
    font-weight: bold;
    margin-top: 10px;
}

.yellow-dash-headline {
    position: relative;
    z-index: 1;
}

.yellow-dash-headline::before {
    content: " ";
    width: 100%;
    height: 8px;
    background-color: var(--cor5);
    position: absolute;
    bottom: 8px;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

aside {
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: 1000px;
    height: max-content;
    margin-top: -5vw;
    padding: 25px 0 25px 0;
    text-align: center;
    border-radius: 15px;  
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    position: relative;
}

aside p {
    font-size: 1.2rem;
}

aside hr {
    background-color: var(--cor5);
    width: 60%;
    height: 10px;
    border: none;
    position: absolute;
    border-radius: 15px;
    bottom: -5px;
}

.bold {
    font-weight: bold;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section .conteiner {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 210px;
    align-self: center;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px; 
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 30px;
    gap: 10px;
    width: 100%;
    height: max-content;
}

ul {
    list-style: inside;
    font-size: 0.8rem;
    line-height: 20px;
}

.icon {
    width: 25px;
}

.yellow-dash {
    position: relative;
}

.yellow-dash::before {
    content: " ";
    width: 100%;
    height: 8px;
    background-color: var(--cor5);
    position: absolute;
    bottom: 8px;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.yellow-stick {
    position: relative;
}

.yellow-stick::before {
    position: absolute;
    content: " ";
    width: 30px;
    height: 10px;
    background-color: var(--cor5);
    border-radius: 25px;
    transform: rotateZ(-45deg);
    z-index: -1;
    left: -10px;
    top: 10px;
}

/* section services */

.service-card {
    height: 240px;
    max-width: 220px;
}

/* section solutions */

.solutions {
    background: linear-gradient(45deg, var(--cor5), var(--cor5), var(--cor4));
    height: max-content;
    min-height: 620px;
}

.solutions .conteiner {
    /* max-width: 100vw; */
    flex-wrap: nowrap;
}

.solutions h3 {
    color: white;
}

.solutions .solution-card {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.img-platforms {
    width: 100%;
    min-width: 420px;
    margin-top: 2vw;
    margin-left: -10vw;
}

.solutions flex-slider {
    align-items: stretch;
    max-width: 77%;
}

.solutions f-slide {
    padding: 20px;
}

/* .solutions f-slide:last-of-type .transparent {
    min-width: 11%;
    opacity: 1;
} */

/* .solutions f-btn-back {
    left: -32px;
    border: none;
}

.solutions f-btn-next {
    right: 445px;
    border: none;
} */

/* .solutions flex-slider[items-per-scroll='4'] f-slide {
    min-width: 22%;
} */

.contact {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.contact .conteiner {
    background-color: var(--cor2);
    color: white;
    border-radius: 25px;
    margin-top: -12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
}

.img-contact {
    width: 100%;
    max-width: 250px;
    margin-top: -12px;
}

.contact .section-content {
    width: 320px;    
}

.contact-form {
    display: flex;
    flex-direction: column;  
    gap: 6px;
    width: 300px;
    padding-right: 40px;
}

input {
    padding: 4px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: none;
}

.btn-conteiner {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.btn-contact{
    padding: 4px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color: var(--cor5);
    color: var(--cor2);
    font-weight: bold;
}

/* section award */

.award .section-content {
    margin-top: -10vh;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.award .conteiner {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.award-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 220px;
    height: 450px;
    text-align: center;
    box-shadow: 5px 20px 30px var(--cor3);
}

.award-pack {
    width: 150px;
}

.btn-award {
    padding: 5px;
    border: 1px solid var(--cor4);
    background-color: transparent;
    color: var(--cor4);
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    border-radius: 5px;
}

.award-logo {
    width: 150px;
}

.gray-line {
    background-color: var(--cor3);
    border: none;
    height: 3px;
}

/* section tech */

.tech-conteiner {
    flex-direction: row;
}

.tech-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 220px;
    height: 250px;
    text-align: center;
    box-shadow: 5px 20px 30px var(--cor3);
}

.tech-logo {
    width: 120px;
}

/* section cta */

.cta {
    background-color: var(--cor4);
    color: white;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-bottom: -8vh;
}

.cta-link {
    background-color: var(--cor5);
    padding: 10px 30px;
    border-radius: 5px;
    color: var(--cor2);
    font-weight: bold;
    font-size: 0.8rem;
}

/* section cases */

.cases {
    background-color: var(--cor3);
    z-index: -1;
    position: relative;
}

.cases h2 {
    padding: 30px 0;
}

.img-case {
    width: 100%;
    max-width: 310px;
    border-radius: 10px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
}

/* team */

.team-photo {
    width: 100%;
    max-width: 150px;
}

footer {
    font-size: 0.8rem;
    color: var(--cor3);
    background-color: var(--cor2);
}

.footer-logo {
    width: 300px;
}

.footer-bottom {
    background-color: var(--cor1);
    color: var(--cor3);
}

@media (max-width: 768px) {
    h1 {
        font-size: 1rem; 
    }

    h2 {
        font-size: 0.6rem; 
    }

    h3 {
        font-size: 1.2rem; 
    }

    h4 {
        font-size: 1rem; 
    }

    p {
        font-size: 0.7rem; 
    }

    aside p {
        font-size: 0.7rem;
    }

    aside {
        width: 80%;
        max-width: 280px;
        padding: 15px 5px 15px 5px;
        white-space: nowrap;
    }
}