@charset "UTF-8";

@font-face {
    font-family: 'Poppins';
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url('/font/Poppins-Regular.woff2') format('woff2');
  }
  
  /* Fonte Poppins Bold */
@font-face {
    font-family: 'Poppins';
    font-weight: 700; /* Bold */
    font-style: normal;
    src: url('/font/Poppins-Bold.woff2') format('woff2');
  }

:root {
    --cor1: #3b4246;
    --cor2: #5d686e;
    --cor3: #dfe1e2;
    --cor4: #ff4c00;
    --cor5: #ffbf00;
}

html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: var(--cor2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    width: 100vw;
}

.transparent {
    opacity: 0;
}

a {
    text-decoration: none;
    color: var(--cor2);
    transition: 0.25s;
}

a:hover {
    color: var(--cor4);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 0.9rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
    z-index: 1;
}

p {
    font-size: 0.8rem;
}

.conteiner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: white;
    position: fixed;
    width: 100vw;
    z-index: 2;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
}

header .conteiner {
    width: 100vw;
    height: max-content;
    padding: 1vw 0 1vw 0;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
    gap: 20px;
}

.header-logo {
    width: 150px;
}

header .svg-menu {
    display: none;
}

.banner {
    background-image: url("/images/Banner.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 600px;
    margin-top: 40px;
}

.banner .conteiner {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    padding-left: 17vw;
    gap: 10px;
}

.btn-banner {
    width: max-content;
    padding: 8px;
    border: 1px solid var(--cor4);
    border-radius: 10px;
    text-align: center;
    font-size: 0.8rem;
    color: var(--cor4);
    font-weight: bold;
    transition: 0.25s;
}

.btn-banner:hover {
    border-color: var(--cor5);
    color: var(--cor5);
}

.btn-banner:active {
    transform: scale(0.8);
}

.yellow-dash-headline {
    position: relative;
    z-index: 1;
}

.yellow-dash-headline::before {
    content: " ";
    width: 102%;
    height: 6px;
    background-color: var(--cor5);
    position: absolute;
    bottom: 8px;
    left: -2px;
    z-index: -1;
    border-radius: 15px;
}

aside {
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: 1000px;
    height: max-content;
    margin-top: -5vw;
    padding: 25px 0 25px 0;
    text-align: center;
    border-radius: 15px;  
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

aside p {
    font-size: 1.2rem;
}

aside hr {
    background-color: var(--cor5);
    width: 60%;
    height: 10px;
    border: none;
    position: absolute;
    border-radius: 15px;
    bottom: -5px;
}

.bold {
    font-weight: bold;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section .conteiner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    align-self: center;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px; 
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 30px;
    gap: 10px;
    width: 100%;
    height: max-content;
}

ul {
    list-style: inside;
    font-size: 0.8rem;
    line-height: 20px;
}

.icon {
    width: 25px;
}

.yellow-dash {
    position: relative;
}

.yellow-dash::before {
    content: " ";
    width: 0;
    height: 4px;
    background-color: #ffbf00;
    position: absolute;
    bottom: 6px;
    left: -3px;
    z-index: -1;
    border-radius: 15px;
}

.yellow-stick {
    position: relative;
}

.yellow-stick::before {
    position: absolute;
    content: " ";
    width: 30px;
    height: 10px;
    background-color: var(--cor5);
    border-radius: 25px;
    transform: rotateZ(-45deg);
    z-index: -1;
    left: -10px;
    top: 10px;
}

/* section services */
.service-card {
    max-width: 220px;
}

/* section solutions */

.solutions {
    background: linear-gradient(45deg, var(--cor5), var(--cor5), var(--cor4));
    height: max-content;
    min-height: 700px;
    margin-bottom: -27vh;
}

.solutions .conteiner {
    flex-wrap: wrap;
}

.solutions h3 {
    color: white;
}

.solutions .solution-card {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.img-platforms {
    width: 100%;
    min-width: 420px;
    margin-top: 2vw;
    margin-left: -10vw;
}

.solutions flex-slider {
    align-items: stretch;
    max-width: 77%;
}

.solutions f-slide {
    padding: 20px;
}

/* .solutions f-slide:last-of-type .transparent {
    min-width: 11%;
    opacity: 1;
} */

.solutions f-btn-back {
    left: -32px;
    border: none;
}

.solutions f-btn-next {
    right: -32px;
    border: none;
}

/* .solutions flex-slider[items-per-scroll='4'] f-slide {
    min-width: 22%;
} */

.contact {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 8vh;
}

.contact .conteiner {
    background-color: var(--cor2);
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    z-index: 0;
}

.img-contact {
    width: 100%;
    max-width: 250px;
    margin-top: -12px;
}

.contact .section-content {
    width: 320px;    
}

.contact-form {
    display: flex;
    flex-direction: column;  
    gap: 6px;
    width: 300px;
    padding-right: 40px;
}

input {
    padding: 8px 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: none;
    min-width: 0;
}

.btn-conteiner {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.btn-contact{
    padding: 8px 16px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color: var(--cor5);
    color: var(--cor2);
    font-weight: bold;
}

/* section award */

.award .section-content {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.award .conteiner {
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.award-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 230px;
    height: 440px;
    text-align: center;
    box-shadow: 5px 20px 30px var(--cor3);
}

.award-pack {
    width: 150px;
    height: 100px;
    object-fit: contain;
}

.link-award {
    padding: 5px;
    border: 1px solid var(--cor4);
    background-color: transparent;
    color: var(--cor4);
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    border-radius: 5px;
}

.award-logo {
    width: 150px;
}

.gray-line {
    background-color: var(--cor3);
    border: none;
    height: 3px;
}

/* section tech */

.tech-conteiner {
    flex-direction: row;
}

#yellow-dash-potencializar::before {
    left: -127px;
    width: 450%;
}

.tech-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    height: 250px;
    text-align: center;
    box-shadow: 5px 20px 30px var(--cor3);
}

.tech-logo {
    width: 120px;
}

/* section cta */

.cta {
    background-color: var(--cor4);
    color: white;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-bottom: -8vh;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.cta-link {
    background-color: var(--cor5);
    padding: 10px 30px;
    border-radius: 5px;
    color: var(--cor2);
    font-weight: bold;
    font-size: 0.8rem;
}

/* section cases */

.cases {
    background-color: var(--cor3);
    z-index: -1;
    position: relative;
}

.cases h2 {
    padding: 30px 0;
}

.img-case {
    width: 100%;
    max-width: 310px;
    border-radius: 10px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
}

/* clients */

.clients .conteiner {
    flex-direction: column;
    flex-wrap: wrap;
}

.clients .clients-logos {
    padding-top: 50px;
    display: flex;
}

.client-logo {
    width: 120px;
}

.clients-slider f-btn-back {
    left: -32px;
    border: none;
    color: var(--cor2);
}

.clients-slider f-btn-next {
    right: -32px;
    border: none;
    color: var(--cor2);
}

/* about */

.about .section-content {
    gap: 10px;
    width: 280px;
}

.about-link {
    background-color: var(--cor4);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 160px;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
}

.img-about {
    width: 100%;
    max-width: 700px;
}

/* team */

.team {
    background-color: var(--cor3);
    margin-top: -10vh;
}

.team .photo-galery {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.team .section-content {
    width: 100%;
    max-width: 1000px;
    padding-bottom: 20px;
    text-align: left;
}

.team-card {
    width: 150px;
}

.team h4 {
    margin-top: -25px;
    font-size: 1rem;
}

.team .team-presentation {
    font-size: 0.8rem;
}

.team-photo {
    width: 100%;
    max-width: 150px;
}

.team p {
    font-size: 0.7rem;
}

/* footer */

footer {
    padding-top: 10vh;
    font-size: 0.7rem;
    color: white;
    background-color: var(--cor2);
}

footer .conteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .address {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer p {
    font-size: 0.7rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    gap: 15px;
}

footer a {
    color: white;
}

footer .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.footer-logo {
    width: 100%;
    max-width: 300px;
}

footer img {
    width: 25px;
}

.footer-bottom {
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    margin-top: 10vh;
}

@media (min-width: 1400px) {
    .conteiner {
        max-width: 1200px;
    }

    .service-card {
        max-width: 300px;
    }

    .award-card {
        width: 280px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1rem; 
    }

    h2 {
        font-size: 0.8rem; 
    }

    h3 {
        font-size: 1.2rem; 
    }

    h4 {
        font-size: 1rem; 
    }

    p {
        font-size: 0.8rem; 
    }

    header {
        height: 50px;
        display: flex;
        align-items: center;
    }
    
    .header-logo {
        padding-left: 30px;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: fixed;
        background: white;
        padding: 15px;
        top: 40px;
        text-align: right;
        z-index: 1;
        border-radius: 10px;
        right: 0;
    }

    .header-right.hide {
        display: none;  
    }

    header .svg-menu {
        padding-right: 30px;
        display: inline-block;
    }

    .banner {
        height: 280px;
    }

    aside p {
        font-size: 0.7rem;
    }

    aside {
        width: 100%;
        /* max-width: 280px; */
        padding: 15px 5px 15px 5px;
        white-space: nowrap;
        justify-content: center;
        border-radius: 0;
    }

    section .conteiner {
        justify-content: center;
    }

    section .section-content {
        padding: 0 15px;
    }

    #yellow-dash-potencializar::before {
        left: -103px;   
    }

    .solutions {
        height: 870px;
        margin-bottom: -30vh;
    }

    .img-platforms {
        width: 100%;
        min-width: 350px;
        margin-left: -80px;
    }

    .contact {
        padding-top: 20vh;
    }

    .contact .conteiner {
        justify-content: space-around;
    }
    
    .contact .img-contact {
        margin-top: -122px;
    }

    .contact-form {
        padding: 0;
        padding-bottom: 40px;
    }

    .contact input {
        width: 100%;
    }

    .btn-conteiner {
        flex-wrap: wrap;
        gap: 6px;
    }

    .btn-contact {
        width: 100%;
    }

    .award {
        padding-top: 5vh;
    }

    .tech-card {
        height: 220px;
        justify-content: space-around;
    }

    .cta {
        text-align: center;
    }

    .clients .clients-logos {
        flex-direction: column;
    }

    .clients-slider {
        width:80%; 
        margin-left:auto;
        margin-right:auto;
    }

    .photo-galery {
        padding: 15px;
        gap: 20px;
    }
    
    footer {
        padding-top: 5vh;
    }

    footer .conteiner {
        gap: 20px;
        justify-content: center;
    }

    .footer-logo {
        max-width: 250px;
    }

    footer .footer-right {
        align-items: center;
    }

    .footer-bottom {
        margin-top: 5vh;
    }
}