@charset "UTF-8";

@media (min-width: 1400px) {
    .conteiner {
        max-width: 1100px;
    }

    .service-card {
        max-width: 300px;
    }

    .award-card {
        width: 280px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.1rem;
    }

    a:hover {
        color: white;
    }

    header {
        height: 70px;
        display: flex;
        align-items: center;
    }

    header .conteiner {
        width: 100%;
        max-width: 100%;
    }

    .header-logo {
        padding-left: 30px;
        width: 200px;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: fixed;
        background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.8));
        padding: 24px;
        top: 68px;
        z-index: 1;
        right: 0px;
        font-size: 2em;
        width: 100%;
        color: #272b2e;
        text-align: center;
        backdrop-filter: blur(5px);
    }

    .header-right.hide {
        display: none;
    }

    header .svg-menu {
        padding-right: 30px;
        display: inline-block;
        width: 65px;
    }

    .banner {
        height: 570px;
        background-size: auto 50%;
        background-position: 70% 110%;
        position: relative;
        margin-top: 15px;
        background-image: url("/images/banner_mobile.png");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .banner-content {
        padding-left: 0;
        margin-top: -20px;
    }

    .banner-content h1 {
        max-width: 80%;
        font-size: 1.5rem;
    }

    .banner-content h2 {
        width: 60%;
        font-size: 0.9rem;
    }

    .conteiner {
        max-width: 83%;
    }


    /* .banner::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 70%);
        pointer-events: none;
    } */

    .banner-content {
        z-index: 1;
    }

    .yellow-dash-headline::before {
        height: 8px;
        bottom: 4px;
    }

    aside p {
        font-size: 1.2rem;
        max-width: 100%;
    }

    aside {
        width: 100%;
        padding: 45px;
        justify-content: center;
        border-radius: 15px;
        margin-top: -20vw;
    }

    section .conteiner {
        justify-content: center !important;
        flex-wrap: wrap !important;
        max-width: 80%;
    }

    section .section-content {
        padding: 0 15px;
    }

    .yellow-stick::before {
        width: 22px;
        height: 8px;
        left: -8px;
        top: 6px;
    }

    .services flex-slider f-btn-next {
        display: flex;
        right: calc(50% - 180px);
        border: none;
        filter: none
    }

    .services flex-slider f-btn-back {
        display: flex;
        left: calc(50% - 180px);
        border: none;
        filter: none;
    }

    .services .svg-icon {
        background-color: var(--cor2);
        border: none;
        filter: none;
    }

    .service-card {
        max-width: 250px;
    }

    .solutions {
        height: 980px;
        margin-bottom: -35vh;
    }

    .solutions .conteiner {
        max-width: 100%;
    }

    .solutions .section-content {
        width: 70%;
    }

    .solutions flex-slider f-btn-next {
        display: flex;
        right: calc(50% - 180px);
        border: none;
        filter: none
    }

    .solutions flex-slider f-btn-back {
        display: flex;
        left: calc(50% - 180px);
        border: none;
        filter: none;
    }

    .img-platforms {
        width: 100%;
        min-width: 350px;
        margin-left: -80px;
    }

    .contact {
        padding-top: 20vh;
    }

    .contact .conteiner {
        padding: 20px;
        justify-content: space-around;
        max-width: 80%;
        text-align: center;
    }

    .contact .img-contact {
        margin-top: -134px;
    }

    .contact-form {
        padding: 0;
        padding-bottom: 40px;
    }

    .contact input {
        width: 100%;
    }

    .btn-conteiner {
        flex-wrap: wrap;
        gap: 6px;
    }

    .btn-contact {
        width: 100%;
    }

    .award {
        padding-top: 5vh;
        padding-bottom: 0;
    }

    .award .section-content {
        max-width: 280px;
        text-align: left;
    }

    .award flex-slider f-btn-next {
        display: flex;
        right: calc(50% - 180px);
        border: none;
    }

    .award flex-slider f-btn-back {
        display: flex;
        left: calc(50% - 180px);
        border: none;
    }

    .award .svg-icon {
        background-color: var(--cor2);
        border: none;
        filter: none;
    }

    .award-card {
        width: 255px;
        height: max-content;
    }

    .gray-line {
        width: 80%;
        margin: auto;
    }

    .tech .section-content {
        width: 280px;
    }

    .tech-card {
        width: 260px;
        height: max-content;
        justify-content: space-around;
    }

    .tech flex-slider f-btn-next {
        display: flex;
        right: calc(50% - 180px);
        border: none;
        filter: none;
    }

    .tech flex-slider f-btn-back {
        display: flex;
        left: calc(50% - 180px);
        border: none;
        filter: none;
    }

    .tech .svg-icon {
        background-color: var(--cor2);
        border: none;
        filter: none;
    }

    .cta {
        text-align: center;
        width: 85%;
    }

    .cases flex-slider f-btn-next {
        display: flex;
        right: calc(50% - 180px);
        border: none;
        filter: none;
        top: calc(50% - 40px);
    }

    .cases flex-slider f-btn-back {
        display: flex;
        left: calc(50% - 180px);
        border: none;
        filter: none;
        top: calc(50% - 40px);
    }

    .cases .svg-icon {
        background-color: var(--cor2);
        border: none;
        filter: none;
    }

    .clients {
        max-width: 280px;
        margin: auto;
    }

    .clients .clients-logos {
        flex-direction: column;
    }

    .clients-slider {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .clients flex-slider f-btn-next {
        display: flex;
        right: calc(50% - 180px);
        filter: none;
        border: none;
    }

    .clients flex-slider f-btn-back {
        display: flex;
        left: calc(50% - 180px);
        filter: none;
        border: none;
    }

    .shadow-bg .img-case {
        max-width: 260px;
    }

    .shadow-bg f-btn-back {
        left: calc(50% - 180px);
        top: calc(50%);
    }

    .shadow-bg f-btn-next {
        right: calc(50% - 180px);
        top: calc(50%);
    }

    .shadow-bg p {
        text-align: center;
        max-width: 260px;
    }

    .shadow-bg .svg-icon.close {
        top: calc(50% - 200px);
        left: calc(50% + 140px);
    }

    .team flex-slider f-btn-next {
        display: flex;
        right: calc(50% - 180px);
        border: none;
        filter: none;
    }

    .team flex-slider f-btn-back {
        display: flex;
        left: calc(50% - 180px);
        border: none;
        filter: none;
    }

    .team .svg-icon {
        background-color: var(--cor2);
        border: none;
        filter: none;
    }

    .team .photo-galery {
        padding: 15px;
        gap: 20px;
        height: max-content;
    }

    .team .team-card {
        width: 200px;
    }

    .team .team-photo {
        width: 100%;
        max-width: max-content;
    }

    .team h4 {
        margin-top: -25px;
        font-size: 1.2rem;
    }

    .team h5 {
        font-size: 1rem;
        font-weight: normal;
    }

    footer {
        padding-top: 5vh;
    }

    footer .conteiner {
        gap: 20px;
        justify-content: flex-start;
        padding-left: 30px;
    }

    .footer-logo {
        max-width: 250px;
    }

    footer .footer-right {
        display: block;
        margin: auto;
        text-align: center;
        padding-right: 30px;
    }

    footer .footer-right .media-links {
        padding-top: 15px;
    }

    .footer-bottom {
        margin-top: 5vh;
    }
}